body {
    font-family: Arial, sans-serif;
    text-align: center;
}
#timer {
    font-size: 80px;
    margin-bottom: 100px;
	top: 60px;

}
#controls {
    margin-top: 200px;
}
body,html{
	padding:0;
	margin:0;
	width: 100%;
    height: 100%;
	background-image: url(marvel_doctor_strange-t2.jpg);
	background-size:100% ;
}
*,*:before,*:after{
	position:relative;
	box-sizing:border-box;
}
*:before,*:after{
	content:'';
	display:block;
}
.khungdh {
	width: 400px;
	height: 300px;
	left: 35%;
	top: 23%;
	border-radius: 80%;
	box-shadow: 0 8px 16px 0 rgba(23, 5, 5, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.nut:hover {background-color: #aabdaa}

.tg {
	width: 220px;
	height: 90px;
	background-color: rgba(68, 59, 67, 0.356);
	left: 20%;
	border-radius: 10px;
	box-shadow: 0 20px 16px 0 rgba(0, 0, 0, 0.235), 0 6px 20px 0 rgba(0,0,0,0.19);
	color: aliceblue;
}
.nut2 {
	width: 70px;
	height: 30px;
	border-radius: 50%;
	background-color: rgb(70, 44, 72);
	color: aliceblue;
	left: 10%;
	border: 2px solid rgb(255, 255, 255);
	box-shadow: 16px white ;
}
.nut1 {
	width: 70px;
	height: 30px;
	border-radius: 50%;
	background-color: rgb(70, 44, 72);
	color: aliceblue;
	left: -16%;
	border: 2px solid rgb(255, 255, 255);
	box-shadow: 16px white ;
}
.nut {
	transition-duration: 1s;
  }
  
  .nut1:hover {
	background-color: #ffffff;
	color: white;
	border: 10px solid rgb(255, 255, 255);
  }
  .nut2:hover {
	background-color: #ffffff;
	color: white;
	border: 10px solid rgb(255, 255, 255);
  }
.tj {
	left: 10px;
}
.aaa {
	left: 15px;
}